<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Edit this coin", edit_coin_path(@coin) %> |
  <%= link_to "Back to coins", coins_path %>

  <%= button_to t("buttons.delete"), @coin, method: :delete %>

</div>

<p><%= link_to "Cadastro de Moedas", coins_path %></p>
